body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://coxrare.files.wordpress.com/2018/12/adobestock_162467459.jpeg?w=1200&h=627&crop=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  
}

.movie-card {
  color:white;
  background-color: rgb(156, 52, 52);
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width:50%;
  border-radius: 12%;
  box-shadow: 5px 5px black;
  text-align:center;
  opacity: 0.7;
  
}
a {
  text-decoration:none;
}

.movie-card:hover{
  color:black;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
 
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
  color:white;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: black;
  color:white;
}
.save-button:hover {
  background-color: yellow;
  color: white;
}

.home-button {
  padding: 5px 10px;
  background-color: black;
  color:white;
}
